* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow: hidden;
}

body svg {
  fill: red;
  width: 500px;
  height: 500px;
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 35%;
  stroke-width: 0;
  transform: translate(-50%,-50%);
  animation: heartBeat 5s infinite;
  z-index: 100;
}

body svg path {
  transition: all 5s;
}

body svg path:hover {
  color: red;
  stroke-width: 3;
  stroke-opacity: 0.3;
}

i:nth-of-type(1) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 4s 1s infinite;
  position: absolute;
  top: -100%;
  left: 50px;
}

i:nth-of-type(2) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 2s 1.5s infinite;
  position: absolute;
  top: -100%;
  left: 170px;
}

i:nth-of-type(3) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 6s .5s infinite;
  position: absolute;
  top: -100%;
  right: 70px;
}

i:nth-of-type(4) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 2s 5s infinite;
  position: absolute;
  top: -100%;
  right: 200px;
}

i:nth-of-type(5) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 8s 2s infinite;
  position: absolute;
  top: -100%;
  right: 20%;
}

i:nth-of-type(6) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 4s .25s infinite;
  position: absolute;
  top: -100%;
  left: 500px;
}

i:nth-of-type(7) {
  color: rgba(255, 0, 0, 0.6);
  font-size: 50px;
  animation: spin 3s 1.2s infinite;
  position: absolute;
  top: -100%;
  right: 50%;
}

img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: contrast(70%);
  animation: handUp 3s 3s forwards;
}

@keyframes handUp {
  from {
    top: 100%;
  }
  to {
    top: 40%;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
    top: -100%;
  }
  to {
    transform: rotateY(360deg);
    top: 100%;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5)
  }
  46% {
    transform: scale(1);
  }
  48% {
    transform: scale(1.2);
  }
  52% {
    transform: scale(1);
  }
  54% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}